<template id="settings-nav-component">
    <section>
        <v-list class="grow">
            <v-list-item to="/settings/activation">
                <v-list-item-content>
                    <v-list-item-title>Activation</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </section>
</template>
<script>
    Vue.component('SettingsNav', {
        template: '#settings-nav-component',
        data() {
            return {
            }
        },
        computed: {
        },
        methods: {
        },
        async mounted() {
        }
    })
</script>