<template id="version-component">
    <div class="main-content overflow-y-auto no-scrollbar pa-8">
        Version @ViewBag.Version
    </div>
</template>
<script>
    Vue.component('Version', {
        template: '#version-component'
    })
</script>