.vscode
.vs
bin
obj
*.user
node_modules
src/monaco-editor/dist
node-tar-extract
.DS_Store
build
wwwroot
!wwwroot/favicon.ico
/src/Aiplugs.PoshApp.Web/Properties/PublishProfiles/iwatest - Web Deploy.pubxml
/src/Aiplugs.PoshApp.Web/Properties/ServiceDependencies/iwatest - Web Deploy/profile.arm.json
/src/Aiplugs.PoshApp.Web/Properties/launchSettings.json
