<template id="datetime-field-component">
    <span class="d-flex">
        <v-menu v-model="menuDate"
                :close-on-content-click="true"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="290px">
            <template v-slot:activator="{ on }">
                <v-text-field
                    :label="`${label} - Date`" 
                    :hint="hint"
                    :rules="rules"
                    :required="required"
                    :filled="filled" 
                    :rounded="rounded" 
                    :dense="dense"
                    readonly
                    v-bind:value="date"
                    v-on="on"
                    class="flex-grow-1"
                ></v-text-field>
            </template>
            <v-date-picker v-model="date" v-on:input="handleInput"></v-date-picker>
        </v-menu>
        <v-menu v-model="menuTime"
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="290px">
            <template v-slot:activator="{ on }">
                <v-text-field
                    class="ml-4 flex-grow-1"
                    :label="`${label} - Time`" 
                    :hint="hint"
                    :rules="rules"
                    :required="required"
                    readonly
                    v-bind:value="time"
                    v-on="on"
                    :filled="filled" 
                    :rounded="rounded" 
                    :dense="dense"
                ></v-text-field>
            </template>
            <v-time-picker v-model="time" v-on:input="handleInput"></v-date-picker>
        </v-menu>
    </span>
</template>
<script>
    Vue.component('datetime-field', {
        template: '#datetime-field-component',
        props: {
            value: String,
            label: String,
            hint: String,
            rules: Array,
            required: Boolean,
            filled: Boolean,
            rounded: Boolean,
            dense: Boolean,
        },
        data() {
            const d = Date.parse(this.value) || null;
            const date = d ? `${d.getFullYear()}-${d.getMonth()+1}-${d.getDate()}` : null;
            const time = d ? `${d.getHours()}:${d.getMinutes()}` : null;
            return {
                date,
                time,
                menuDate: false,
                menuTime: false
            }
        },
        methods: {
            handleInput(ev) {
                this.menuDate = false;
                this.menuTime = false;
                this.$emit('input', new Date(`${this.date} ${this.time}`).toJSON());
            }
        }
    })
</script>