<template id="powershell-ui-progress-for-git-component">
    <span class="d-flex align-center" v-if="gitClone != null">
        {{gitClone.name}}:{{gitClone.progress}}
    </span>
</template>
<script>
    Vue.component('powershelluiprogressforgit', {
        template: '#powershell-ui-progress-for-git-component',
        computed: {
            ...Vuex.mapState('signalr', ['gitClone'])
        }
    })
</script>