<template id="powershell-ui-prompt-for-choice-component">
    <v-dialog :value="promptForChoice != null" max-width="600px" persistent>
        <v-card v-if="promptForChoice != null">
            <v-card-title class="headline" primary-title>
                {{promptForChoice.caption}}
            </v-card-title>
            <v-card-text>
                <p style="white-space: pre-wrap">{{promptForChoice.message}}</p>
                <table>
                    <tr v-for="(choice, index) in promptForChoice.choices" :key="index">
                        <td>{{format(choice.label)}}</td>
                        <td>{{choice.helpMessage}}</td>
                    </tr>
                </table>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn text v-for="(choice, index) in promptForChoice.choices"
                       :key="index"
                       :color="index==promptForChoice.defaultChoice?'primary':null"
                       v-on:click="select(index)">
                    {{format(choice.label)}}
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    Vue.component('powershelluipromptforchoice', {
        template: '#powershell-ui-prompt-for-choice-component',
        computed: {
            ...Vuex.mapState('signalr', ['promptForChoice'])
        },
        methods: {
            ...Vuex.mapActions('signalr', ['invokePromptForChoice']),
            format(label) {
                return (label||'').replace(/&/, '');
            },
            select(index) {
                this.invokePromptForChoice({ index });
            }
        }
    })
</script>