<template id="powershell-ui-status-component">
    <div>
        <span :title="text">
            <v-icon small>{{icon}}</v-icon>
        </span>
        <v-dialog v-model="dialog" width="600">
            <v-card>
                <v-card-title>Connectioin Error</v-card-title>
                <v-card-text>
                    Cannot connect poshapp backend service.
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn text v-on:click="dialog=false">OK</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>
<script>
    Vue.component('powershelluistatus', {
        template: '#powershell-ui-status-component',
        data() {
            return {
                text: null,
                icon: 'md mdi-circle-off-outline',
                dialog: false
            }
        },
        mounted() {
            this.$signalr.onclose(err => {
                this.text = "Close";
                this.icon = "md mdi-circle-off-outline";
            })
            this.$signalr.onreconnecting(err => {
                this.text = "Reconnecting...";
                this.icon = "mdi-dots-horizontal";
            })
            this.$signalr.onreconnected(connectedId => {
                this.text = "Connected";
                this.icon = "mdi-circle-outline";
            })
            this.$signalr.start().then(() => {
                this.text = "Connected";
                this.icon = "mdi-circle-outline";
            }).catch(() => {
                this.text = "Faild";
                this.icon = "md mdi-circle-off-outline";
                this.dialog = true;
            })
        }
    })
</script>