<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <script src="/lib/vue/vue.js"></script>
        <link href="/lib/roboto/css/roboto.css" rel="stylesheet">
        <link href="/lib/mdi/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="/lib/vuetify/vuetify-v2.1.12.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <script>Vue.config.devtools = true;</script>
    </head>
    <body>
        <div id="app">
            <app></app>
        </div>
        
        <script src="/lib/signalr/signalr.min.js"></script>
        <script src="/lib/vuetify/vuetify-v2.1.12.min.js"></script>
        <script src="/lib/vue-router/vue-router.min.js"></script>
        <script src="/lib/vuex/vuex.min.js"></script>
        <script src="/lib/vue-async-computed/vue-async-computed.js"></script>
        <partial name="DateTime" />
        <partial name="Toast" />
        <partial name="PowershellUI" />
        <partial name="ScriptsNav" />
        <partial name="Scripts" />
        <partial name="RepositoryNav" />
        <partial name="Repository" />
        <partial name="PageNav" />
        <partial name="ParametersForm" />
        <partial name="DataViewer" />
        <partial name="DetailPage" />
        <partial name="ListPage" />
        <partial name="SingletonPage" />
        <partial name="Top" />
        <partial name="App" />
        <script src="/js/main.js" type="module"></script>
   </body>
</html>