<template id="top-component">
    
        <div>
            <h1>{{list.title}}</h1>
            <v-btn v-on:click="read">Read</v-btn>
            <v-btn v-on:click="handleDetail">Detail</v-btn>
            <v-data-table
                v-model="selected"
                :headers="list.headers"
                :items="list.data"
                :page.sync="page"
                :items-per-page="list.pageSize"
                item-key="$clixml"
                hide-default-footer
                show-select
                single-select>
            </v-data-table>
            <v-pagination v-model="page" :length="list.pageCount"></v-pagination>
        </div>
</template>

<script type="module">
    import { parsePSDataCollection } from '/js/clixml.js'

    Vue.component('Top', {
        template: '#top-component',
        data() {
            return {
                page: 0,
                selected: this.$store.state.selected
            }
        }, 
        computed: {
            list() {
                return this.$store.state.list
            }
        },
        methods: {
            ...Vuex.mapMutations('list', ['updateList','replaceData','setDetail']),
            async read() {
                const pageSize = this.$store.state.list.pageSize;
                const res = await fetch('/home/list');
                const ps = await res.json();
                const data = parsePSDataCollection(ps);

                if (data.length == 0)
                    return;

                console.log();

                let index = 0;
                let total = data.length;
                let title = '';

                if (typeof data[index].value === 'string') {
                    title = data[index].value;
                    index++;
                }

                if (typeof data[index].value === 'number') {
                    total = data[index].value;
                    index++;
                }

                const pageCount = ~~(total / pageSize) + Math.min(1, total % pageSize);

                const dataset = data.slice(index);

                const allKeys = Object.keys(dataset.reduce((o,d) => Object.assign(o,d.value),{}));
                
                const headers = allKeys.map(key => ({text:key, value:key}));
                
                this.updateList({
                    headers,
                    title,
                    page: 0,
                    pageCount,
                    pageSize: pageSize,
                    data: dataset.filter(d => typeof d.value === 'object').map(d => {
                        d.value.$clixml = d.clixml;
                        return d;
                    })
                })
            },
            async handleDetail() {
                console.log("detail")
                const res = await fetch('/home/detail', {
                    method: 'post',
                    headers: {
                        'Content-Type': "application/json",
                    },
                    body: JSON.stringify(this.selected[0].$clixml)
                });

                const ps = await res.json();
                const data = parsePSDataCollection(ps);
                console.log(data);
            }
        }
    })
</script>