html, body {
    overflow: hidden;
}

.app-layout {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 56px 256px 1fr;
    grid-template-rows: 1fr 24px;
}

.app-global-nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background: white;
}

.app-local-nav {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background: white;
    overflow-y: auto;
}
.app-local-nav::-webkit-scrollbar {
    display: none;
}

.app-main {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    position:relative;
}

.app-footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.separator-vertical {
    border-right: 0.5px solid #E0E0E0;
}

.separator-vertical .v-list {
    border-right-color: transparent;
}

.separator-horizontal {
    border-bottom: 0.5px solid #E0E0E0;
}

.main-content {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}