<template id="app-component">
    <v-app>
        <div class="app-layout">
            <section class="app-global-nav d-flex flex-column separator-vertical">
                <v-list dense nav>
                    <v-list-item to="/" active>
                        <v-list-item-icon>
                            <v-icon>mdi-hexagon-outline</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content></v-list-item-content>
                    </v-list-item>
                    <v-list-item to="/scripts/">
                        <v-list-item-icon>
                            <v-icon>mdi-xml</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content></v-list-item-content>
                    </v-list-item>
                    <v-list-item to="/repositories/">
                        <v-list-item-icon>
                            <v-icon>mdi-source-branch</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content></v-list-item-content>
                    </v-list-item>
                </v-list>
                <v-spacer></v-spacer>
                <v-list dense nav>
                    <v-list-item to="/settings/">
                        <v-list-item-icon>
                            <v-icon>mdi-settings-outline</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content></v-list-item-content>
                    </v-list-item>
                </v-list>
            </section>
            <section class="app-local-nav separator-vertical">
                <router-view name="nav"></router-view>
            </section>

            <main class="app-main">
                <router-view></router-view>
            </main>

            <v-footer class="app-footer pa-0 pl-2 pr-2" height="24px">
                <PowershellUI></PowershellUI>
            </v-footer>

            <Toast></Toast>
        </div>
    </v-app>
</template>
<script>
    Vue.component('App', {
        template: "#app-component",
    })
</script>