<template id="app-component">
    <v-app>
        <div class="app-layout">
            <section class="app-global-nav d-flex flex-column separator-vertical">
                <v-list dense nav>
                    <v-list-item to="/" active>
                        <v-list-item-icon>
                            <v-icon>mdi-hexagon-outline</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content></v-list-item-content>
                    </v-list-item>
                    <v-list-item to="/scripts/">
                        <v-list-item-icon>
                            <v-icon>mdi-xml</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content></v-list-item-content>
                    </v-list-item>
                    <v-list-item to="/repositories/">
                        <v-list-item-icon>
                            <v-icon>mdi-source-branch</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content></v-list-item-content>
                    </v-list-item>
                </v-list>
                <v-spacer></v-spacer>
                <v-list dense nav>
                    <v-list-item to="/settings/">
                        <v-list-item-icon>
                            <v-icon>mdi-settings-outline</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content></v-list-item-content>
                    </v-list-item>
                </v-list>
            </section>
            <section class="app-local-nav separator-vertical">
                <router-view name="nav"></router-view>
            </section>

            <main class="app-main">
                <router-view></router-view>
            </main>

            <v-footer class="app-footer pa-0 pl-2 pr-2" height="24px">
                <PowershellUI></PowershellUI>
            </v-footer>

            <Toast></Toast>
        </div>
        <v-dialog v-model="display" max-width="600">
            <v-card>
                <v-card-title>FREE Plan limit exceeded</v-card-title>
                <v-card-text>
                    <v-row align="center">
                        <v-col>
                            <span class="display-2">$0.00</span>
                             forever
                        </v-col>
                        <v-col>
                            <span class="display-2">$1.49</span> / month・machine
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <ul>
                                <li><span class="font-weight-bold">2</span> repositories</li>
                                <li><span class="font-weight-bold">10</span> scripts / repository</li>
                            </ul>
                        </v-col>
                        <v-col>
                            <ul>
                                <li>Unlimited repositories</li>
                                <li>Unlimites scripts</li>
                            </ul>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn text v-on:click="hideActivationNotice">No thank you</v-btn>
                    <v-btn color="primary" v-on:click="moveToActivation">Activate</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-app>
</template>
<script>
    Vue.component('App', {
        template: "#app-component",
        computed: {
            ...Vuex.mapState('activation', ['display'])
        }, 
        methods: {
            ...Vuex.mapMutations('activation', ['hideActivationNotice']),
            ...Vuex.mapActions('activation', ['loadActivationStatus']),
            moveToActivation() {
                this.hideActivationNotice();
                this.$router.push('/settings/activation');
            }
        },
        mounted() {
            this.loadActivationStatus();
        }
    })
</script>