<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="/lib/vue/vue.js"></script>
    <link href="/lib/roboto/css/roboto.css" rel="stylesheet">
    <link href="/lib/mdi/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/lib/vuetify/vuetify-v2.1.12.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script>Vue.config.devtools = true;</script>
</head>
<body>
    <div id="app">
        <app></app>
    </div>

    <script src="/lib/signalr/signalr.min.js"></script>
    <script src="/lib/vuetify/vuetify-v2.1.12.min.js"></script>
    <script src="/lib/vue-router/vue-router.min.js"></script>
    <script src="/lib/vuex/vuex.min.js"></script>
    <script src="/lib/vue-async-computed/vue-async-computed.js"></script>
    @if (ElectronNET.API.HybridSupport.IsElectronActive)
    {
        <script>
            const { ipcRenderer } = require("electron");
            window.ipcRenderer = ipcRenderer;
        </script>
    }
    <partial name="Components/ActivationNotice" />
    <partial name="Components/UpdateNotice" />
    <partial name="Components/DateTime" />
    <partial name="Components/Toast" />
    <partial name="PowershellUI/Prompt" />
    <partial name="PowershellUI/PromptForChoice" />
    <partial name="PowershellUI/PromptForCredential" />
    <partial name="PowershellUI/LogForError" />
    <partial name="PowershellUI/Log" />
    <partial name="PowershellUI/ProgressForUpdate" />
    <partial name="PowershellUI/ProgressForGit" />
    <partial name="PowershellUI/Progress" />
    <partial name="PowershellUI/Status" />
    <partial name="PowershellUI/Index" />
    <partial name="Settings/Nav" />
    <partial name="Settings/Activation" />
    <partial name="Settings/Version" />
    <partial name="Scripts/Nav" />
    <partial name="Scripts/Index" />
    <partial name="Repositories/Nav" />
    <partial name="Repositories/Index" />
    <partial name="Pages/Parts/ParametersForm" />
    <partial name="Pages/Parts/DataViewer" />
    <partial name="Pages/Nav" />
    <partial name="Pages/Detail" />
    <partial name="Pages/List" />
    <partial name="Pages/Singleton" />
    <partial name="App" />

    <script src="/lib/monaco-editor/main.bundle.js"></script>
    <script src="/js/main.js" type="module"></script>
</body>
</html>