<template id="top-page-component">
    <div class="main-content d-flex flex-column pa-10">
        <h1 class="d-flex align-center mb-10 grey--text">
            <img src="~/icon/poshapp-icon-grey.png" width="48" />
            <span class="ma-4">POSH App</span>
        </h1>

        <h4>Documents</h4>
        <p class="mb-10">
            <a v-on:click="openDocs">https://github.com/aiplugs/poshapp/wiki</a>
        </p>

        <h4>Release notes</h4>
        <p class="mb-10">
            <a v-on:click="openReleases">https://github.com/aiplugs/poshapp/releases</a>
        </p>

        <h4>Bug Reports</h4>
        <p class="mb-10">
            <a v-on:click="openIssues">https://github.com/aiplugs/poshapp/issues</a>
        </p>
    </div>
</template>

<script>
    Vue.component('TopPage', {
        template: '#top-page-component',
        methods: {
            openDocs() {
                ipcRenderer.send('open-docs');
            },
            openReleases() {
                ipcRenderer.send('open-releases');
            },
            openIssues() {
                ipcRenderer.send('open-issues');
            }
        }
    })
</script>