<template id="singleton-page-component">
    <div class="flex-grow-1">
        <header class="separator-horizontal">
            <v-row class="pl-4 pr-4">
                <v-col cols="12">
                    <parameters-form ref="form" :script="scriptId" v-on:run="run"></parameters-form>
                </v-col>
            </v-row>
            <v-row class="pl-4 pr-4">
                <v-btn text v-for="action in actions" :key="action.name" v-on:click="invokeAction(action.id)" retain-focus-on-click>{{action.displayName || action.id}}</v-btn>
            </v-row>
        </header>
        <v-container>
            <data-viewer :data="data"></data-viewer>
        </v-container>
    </div>
</template>
<script type="module">
    import { parsePSDataCollection } from '/js/clixml.js'
    Vue.component('SingletonPage', {
        template: '#singleton-page-component',
        data() {
            return {
                data:null
            }
        }, 
        computed: {
            scriptId() {
                return `${this.$route.params.repo}:${this.$route.params.id}`;
            },
            actions() {
                const { repo, id } = this.$route.params;
                return this.$store.getters['scripts/findActions'](repo, id);
            }
        },
        methods: {
            ...Vuex.mapActions('toast', ['toast']),
            init(){
                this.$signalr.on('DefaultResult', json => {
                    this.data = parsePSDataCollection(JSON.parse(json));
                });
                this.$signalr.on("ActionResult", (id, json) => {
                    const data = JSON.parse(json);
                    this.toast({
                        text: `${id} is succeeded` ,
                        color: "info",
                        top: true,
                        right: true
                    });
                })
            },
            run(value) {
                this.$signalr.invoke('Invoke', this.scriptId, value);
            },
            invokeAction(name) {
                this.$signalr.invoke('InvokeAction', name, null);
            }
        },
        mounted() {
            this.init();
        },
        beforeRouteUpdate (to, from, next) {
            this.init();  
            next();
        },
        beforeRouteLeave (to, from , next) {
            this.$signalr.off('DefaultResult');
            next();
        }
    })
</script>   